@model deprimera.com.ar.Models.Partido

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PerfilPartido</title>
    <meta charset="utf-8">
    <link href="~/Content/PerfilPartido.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Personal.css" rel="stylesheet" type="text/css" />
    <img alt="Fondo" id="full-screen-background-image" src="~/Images/Fondo.jpg" />
</head>
<body>
    <header>
        <section>
            <div class="TOP">
                <a href="@Url.Action("IrAIndex", "Home", ViewBag.JugadorLog, null)"> <img class="Logo" src="~/Images/Logo.png" /></a>
                <div class="MenuPersonal">
                    <div class="Barra">
                        <a class="A NombreUsuario">NOMBRE DE USUARIO</a>
                        <a href=""><img class="Iconos" src="~/Images/Perfil.png" style="height: 40px; width: 30px;" /></a>
                        <a href=""><img class="Iconos" src="~/Images/Notificaciones.png" style="height: 40px; width: 40px;" /></a>
                        <a href=""><img class="Iconos" src="~/Images/salir.png" style="height: 40px; width: 40px;" /></a>
                    </div>
                    <div class="Triangulo"></div>
                </div>
            </div>
        </section>
    </header>
    <main style="height: 800px; width: 1500px;">
        <section class="Arriba">
            <div class="Equipo">
            </div>
            <div class="Opciones">
            </div>
            <div class="Equipo">
            </div>
        </section>
        <section class="BARRA">
            <div class="Abajo">
                <h2>Continuar</h2>
                <img class="Iconos" src="~/Images/pelota.png" style="height: 40px; width: 40px; margin-left: 94px; margin-top: 8px;" />
            </div>
            <div class="Abajo" style="width:280px;">
                <h2>Direccion De Equipo</h2>
                <img class="Iconos" src="~/Images/direccion.png" style="height: 40px; width: 50px; margin-left: 118px; margin-top: 8px;" />
            </div>
            <div class="Abajo">
                <h2>Opciones</h2>
                <img class="Iconos" src="~/Images/opciones.png" style="height: 40px; width: 40px; margin-left: 94px; margin-top: 8px;" />
            </div>
            <div class="Abajo">
                <h2>Camisetas</h2>
            </div>
            <a class="Abajo" href="@Url.Action("IrAPartido", "Home", ViewBag.JugadorLog, null)">
                <h2>Volver</h2>
                <img class="Iconos" src="~/Images/volver.png" style="height: 40px; width: 40px; margin-left: 94px; margin-top: 8px;" />
            </a>
        </section>
    </main>
    <footer></footer>
</body>
</html>
